@charset "utf-8";
/* CSS Document */
body{ background-image:url(Img/bvb_fcb_jubelfeier_920.jpg)}
.main{border-bottom:medium #FFFF00 solid}
.footer{border-top:medium #FFFF00 solid}
.menu{border-right:medium #FFFF00 solid}
.mino{border:medium #FFFF00 solid}



.navigation
{background:#FFFF00;
border:2px#FF0000 solid;
padding:5px;
margin:10px;
display:block;
text-decoration:none;
}

.navigation:hover{
background:#FFFF00;
border:2px#FF0000 solid;
padding:5px;
margin:10px;
display:block;
text-decoration:none;
text-align:center;
color:#CC0033;}